<h2>Job Registration Form</h2>
<form #jobForm="ngForm" (ngSubmit)="submitForm()">
  <label>Name : </label>
  <input type="text" name="name" [(ngModel)]="user.name" required #nameCtrl="ngModel">
  <div *ngIf="nameCtrl.invalid && nameCtrl.touched" style="color:red">
    Name is required
  </div>
  <br><br>

  <label>Email : </label>
  <input type="email" name="email" [(ngModel)]="user.email" required #emailCtrl="ngModel">
  <div *ngIf="emailCtrl.invalid && emailCtrl.touched" style="color:red">
    Enter valid email
  </div>
  <br><br>

  <label>Phone No. : </label>
  <input type="text" name="phone" [(ngModel)]="user.phone" required pattern="^[0-9]{10}$" #phoneCtrl="ngModel">
  <div *ngIf="phoneCtrl.invalid && phoneCtrl.touched" style="color:red">
    Enter 10-digit phone number
  </div>
  <br><br>
  <button type="submit" [disabled]="jobForm.invalid">Register</button>
</form>